.marker {
  cursor: pointer;
  border: 1px solid white;
  border-radius: 50%;
  height: 16px;
  width: 16px;
  z-index: 10px;
}

.info {
  position: relative;
  bottom: 135px;
  height: 125px;
  overflow: hidden;
  left: -160px; // half width
  width: 320px;
  background-color: white;
  box-shadow: 0 2px 7px 1px rgba(0, 0, 0, 0.3);
  font-size: 0.875rem;
  border-radius: 8px;
  z-index: 10000;
}
.inner {
  box-sizing: border-box;
  padding: 12px;
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100%;
}

.name {
  color: black;
  margin-bottom: 16px;
  font-size: 1rem;
  font-weight: 600;
}

.address {
  margin-bottom: 4px;
}

.address,
.notes {
  color: #333;
}

.close {
  cursor: pointer;
  position: absolute;
  top: 12px;
  right: 12px;
  width: 24px;
  height: 24px;
  display: inline-block;
  z-index: 10;
  margin: 0;
  padding: 0;
  border-radius: 100%;
  font-weight: bold;
  font-size: 1rem;
}