---
import Layout from "../layouts/layout.astro";
import Container from "../components/container.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <Layout title={"Map Stuff!"}>
      <Container>
				Hello
			</Container>
    </Layout>
  </body>
</html>
